[submodule "Genesis/thirdparty/spdlog"]
	path = Genesis/thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Genesis/thirdparty/GLFW"]
	path = Genesis/thirdparty/GLFW
	url = https://github.com/TheCherno/glfw.git
	ignore = dirty
[submodule "Genesis/thirdparty/ImGui"]
	path = Genesis/thirdparty/ImGui
	url = https://github.com/ocornut/imgui.git
	ignore = dirty

[submodule "Genesis/thirdparty/glm"]
	path = Genesis/thirdparty/glm
	url = https://github.com/g-truc/glm.git
